<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>

namespace YiffBrowser.Resources.Icons;

public static class IconResources
{
    public const string AssemblyName = "YiffBrowser.Resources";

<#
string iconDirectory = Path.GetDirectoryName(Host.TemplateFile);
string[] extensions = { ".png", ".jpg", ".gif", ".ico" };
    
var iconFiles = Directory.GetFiles(iconDirectory)
    .Where(f => extensions.Contains(Path.GetExtension(f).ToLower()))
    .ToArray();

foreach (string file in iconFiles)
{
    string fileName = Path.GetFileName(file);
    string extension = Path.GetExtension(file).Substring(1).ToUpper();
    string propertyName = Path.GetFileNameWithoutExtension(file).Replace("-", "_").Replace(" ", "_") + "_" + extension;
#>
    /// <summary> <#= fileName #> </summary>
    public static string <#= propertyName #> { get; } = $"pack://application:,,,/{AssemblyName};component/Icons/<#= fileName #>";

<#
}
#>
}
